@use "../scndGlobals";

section.Pagination {
    margin-top: 118px;
    width: 100%;
    height: 60px;

    .pgnt {
        @include scndGlobals.flexbox($j-c: flex-start);

        a {
            @include scndGlobals.defText();
        }

        i {
            display: block;
            padding: 0 11px;
        }
    }
}