@use "../../scndGlobals";

section.Contacts {
    margin-bottom: 100px;

    h5 {
        @include scndGlobals.defText();
        margin-bottom: 30px;
    }

    .contacts {
        @include scndGlobals.flexbox($j-c: space-between, $a-i: flex-start);
        gap: 30px;
        margin: auto;

        @media (max-width:1200px) {
            width: 75%;
        }

        @media (max-width:768px) {
            width: 100%;
            justify-content: center;
        }

        ul.list {
            max-width: 215px;

            @media (max-width:1200px) {
                @include scndGlobals.flexbox();
            }

            h6 {
                @include scndGlobals.defText($f-w: 500);
                margin-bottom: 20px;
            }

            li {
                margin-bottom: 20px;
                @include scndGlobals.defText();

                i {
                    font-size: 36px;
                    color: scndGlobals.$primClr;
                }
            }
        }
    }
}