@use "../../scndGlobals";

main.Catalog {
    main.primaryContent {
        @include scndGlobals.flexbox($j-c: space-between, $a-i: flex-start);

        @media(max-width:1400px) {
            flex-wrap: nowrap;
        }

        @media (max-width: 576px) {
            flex-direction: column;
            align-items: center;
        }

        section.mainSection {
            @include scndGlobals.flexbox($a-i: flex-start);
            flex-direction: column;
            gap: 30px;

            @media (max-width: 576px) {
                align-items: center;
            }
        }

    }

    footer.Footer {
        margin-top: 100px;
    }
}