@use "../../../scndGlobals";


section.innerCategories {
    width: 100%;
    background: scndGlobals.$BgClr;
    padding-bottom: 100px;

    @media (max-width:992px) {
        display: none;
    }

    @media (max-width:576px) {
        display: block;
    }

    h2 {
        @include scndGlobals.defText();
        margin: 100px auto 50px auto;
        max-width: 1160px;
        text-align: left;;
    }

    .slider {
        margin: auto;
        // padding: 0 70px;/

        @include scndGlobals.flexbox();
        // gap: 15px;
        max-width: 1160px;
        overflow: hidden;


        // @media (max-width: 992px) {
        //     width: 70%;
        // }



        .swiperSlide {
            max-width: 275px;

            @media (max-width:576px) {
                width: 100%;
                max-width: 350px;
            }

            @media (max-width:768px) {
                max-width: 450px;
                width: 100%;

            }

            @media (max-width:992px) {
                max-width: 275px;
                width: 100%;
            }


            img {
                width: 100%;

                max-width: 275px;
            }

            a {
                // position: absolute;
                // bottom: 0;
                // left: 5%;
                transform: translateY(-40px);
                width: 100%;
                max-width: 275px;
                margin: auto;
                height: 40px;
                text-align: center;
                z-index: 999;
                background: rgba(224, 190, 162, 0.75);
                backdrop-filter: blur(3px);
                @include scndGlobals.flexbox();

                h6 {
                    @include scndGlobals.defText($clr: scndGlobals.$wht);
                }
            }
        }
    }

    .swiper-button-prev::after {
        content: "adas";
        background: scndGlobals.$BgClr;
    }
}